body {
    width: 1920px;
    font-family: "Poppins", system-ui;
    color: #000;
    background-color: #ffffff;
    margin: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    background-color: #C2EFD4;
}

.container {
    width: 1390px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0px;
}

.logo {
    margin-right: 100px;
}

/* menu navigation */
.menu {
    display: flex;
    justify-content: space-between;
    width: 493px;
    margin-left: 140px;
}
.menu__item {
    padding: 5px 10px;
    margin:0px 20px 0px 20px;
}
.menu__item:first-child {
    margin-left: 10px;
}
.menu__item:nth-child(2) {
    margin-right: 15px;
}
.menu__item:nth-child(3) {
    margin-right: 13px;
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__link {
    letter-spacing: 0.7px;
    font-size: 20px;
    font-weight: 600;
}

/* Badket shop icon */
.header__basket {
    padding: 5px;
    margin: 5px -80px 0px 80px;
}

/* Autorization */
.autorization {
    margin: 5px 12px;
}
.open_login {
    padding: 12px 40px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #224F34;
    border-radius: 3px;
    background-color: #C2EFD4;
}


/* Baner */
.main {
    background-color: #ffffff;
}
.baner {
    background-color: #C2EFD4;
    height: 740px;
    padding: 50px 0px 166px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
h1 {
    font-family: "Rufina", system-ui;
    font-weight: 700;
    font-size: 86px;
    line-height: 120%;
    color: #224F34;
    margin-top: 48px;
    margin-left: 100px;
    grid-column: 2 / 7;
    grid-row: 1 / 3;
}
.subtitle {
    font-size: 24px;
    color: #224F34;
    font-weight: 500;
}
.baner .subtitle {
    line-height: 220%;
    margin: 160px 80px 0 100px;
    grid-column: 2 / 6;
    grid-row: 7 / 8;
}
.button {
    width: 260px;
    height: 75px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    padding: 22px 50px;
    border: 2px solid white;
    background-color: #224F34;
    margin-top: 15px;
    margin-left: 100px;
    grid-column: 2 / 4;
    grid-row: 9 / 13;
}
.image {
    margin-top: 20px;
    margin-left: 90px;
    grid-column: 7 / 9;
    grid-row: 1 / 13;
}

/* Top CATALOGe */
.selling{
    max-width: 1377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 20px 0 auto;
}
h2 {
    color: #224F34;
    font-family: "Roboto Slab", system-ui;
    font-size: 64px;
    font-weight: 600;
}
.selling .subtitle {
    font-size: 22px;
    letter-spacing: 0.1px;
    margin: 55px 25px 30px 10px;
    color: #224F34;
}
.selling__list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.selling__card {
    width: 430px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.selling__card:nth-child(2) {
    margin: 0 44px 0 43px;
}
.selling__card .photo {
    grid-column: 1 /3;
}
.selling__card .name {
    grid-column: 1/3;
    margin-top: 55px;
    font-size: 22px;
    font-weight: 600;
}
.selling__card .price {
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 65px;
    grid-column: 1 / 2;
}
.selling__card .grade {
    grid-column: 2 / 3;
    font-size: 22px;
    font-weight: 500;
    margin-right: 75px;
    margin-top: 20px;
}
.selling button {
    font-size: 22px;
    color: #224F34;
    background-color: #ffffff;
    border: 2px solid #224F34;
    border-radius: 3px;
    padding: 20px 58px;
    margin-top: 84px;
}

/* CATALOG */
.section__catalog {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.section__catalog h3 {
    font-family: "Roboto Slab", system-ui;
    font-size: 50px;
    font-weight: 500;
    color: #224F34;
}
.section__catalog .catalog__menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}
.catalog__menu li {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.9px;
}
.catalog__menu li:active {
    color: #224F34;
    padding-bottom: 7px;
    border-bottom: 2px solid #224F34;
}

/* Form added or filter */
form {
    margin-top: 20px;
    width: 900px;
    max-height: 300px;
    padding: 10px 20px;
    border: 2px solid #224F34;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
form input {
    max-width: 500px;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px 10px;
    grid-column: 2 / 4;
}
form label {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    text-transform: uppercase;
    grid-column: 1 / 2;
}
form select {
    border: 2px solid #224F34;
    border-radius: 3px;
    margin-left: 9px;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}
#add-product {
    margin-top: 10px;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}


#message {
    padding: 10px;
    margin: 10px 0;
    display: none;
}
.success {
    background-color: #d4edda;
    color: #155724;
}

#sort {
    margin-top: 20px;
    width: 600px;
    height: 50px;
    padding: 10px 20px;
    border: 2px solid #0d361e;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
#sort label {
    padding: 5px;
    grid-column: 1 / 2;
}
 #sortProduct {
    border: 2px solid #224F34;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 9px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.productList {
    max-width: 1377px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.productList .product {
    width: 318px;
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}


.productList .product img {
    width: 318px;
    height: 378px;
    grid-column: 1 / 3;
}
.productList h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 43px;
    grid-column: 1 / 3;
}
.productList p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    grid-column: 1 / 2;
}
.productList #btn-delete {
    font-size: 20px;
    font-weight: 600;
    padding: 0px;
    margin: 18px 0 0 0;
    border: none;
    grid-column: 2 / 3;
}
.section__catalog button {
    font-size: 22px;
    color: #224F34;
    background-color: #ffffff;
    border: 2px solid #224F34;
    border-radius: 3px;
    padding: 20px 58px;
    margin-top: 84px;
}
.section__catalog button svg {
    transform: rotate(90deg);
}





/* FOOTER */
.footer {
    background-color: #224F34;
    height: 400px;
    margin-top: 200px;
}
.footer__container {
    display: flex;
    justify-content: center;
    transform: translateY(250%);
}
.footer h2 {
    color: #fff;
}